body {
    /* Global colours */
    --global-text: #2D2D2D;
    --global-outline: #A5AAA9;
    --global-accent: #06AE42;
    --global-lighterGrey: #54555F;
    --global-cardBg: #18181b;
}

/* Customize toasts background */
.Toastify__toast-theme--dark {
    background-color: var(--global-lighterGrey);
}

/* Fix checkbox icon not appearing on built site (how can this even happen) */
.a-checkbox-icon {
    --un-scale-x: 100% !important;
    --un-scale-y: 100% !important;
}