@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&amp;display=block');

body {
    /* Global colours */
    --global-text: #2D2D2D;
    --global-outline: #A5AAA9;
    --global-accent: #06AE42;
    --global-lighterGrey: #54555F;
    --global-cardBg: #18181b;
}

/* Customize toasts background */
.Toastify__toast-theme--dark {
    background-color: var(--global-lighterGrey);
}